@tailwind base;
@tailwind components;
@tailwind utilities;

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  @apply bg-gray-100 text-gray-900 antialiased font-mono;
}

nav {
  @apply flex justify-between items-center py-3 px-5 bg-gray-100 border-b border-gray-200;
}

.logo {
  @apply text-2xl font-bold text-primary;
}

ul {
  @apply flex gap-4 list-none p-0 m-0;
}

ul li {
  @apply m-0;
}

ul li a {
  @apply text-primary hover:underline;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

button {
  @apply bg-primary text-white py-2 px-4 rounded hover:bg-pink-600;
}

input {
  @apply block w-full mt-1 p-2 border border-gray-300 rounded;
}

.form-error {
  @apply text-red-500 text-sm;
}
